* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	display: flex;
	flex-direction: column;
}

main header {
	margin: 5vw 0 3vw;
	text-align: center;
}

main header h1 {
	font-size: 4vw;
}

main header p {
	font-size: 2vw;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 5vw 0;
}

.calculator {
	width: 30%;
	color: rgb(16, 88, 49);
}

.container .heading h3 {
	font-size: 2.5vw;
}

.formInput {
	margin: 1.5vw 0;
}

.formInput label {
	display: block;
}

.formInput input,
.formInput button,
.formInput select {
	width: 75%;
	padding: 1vw;
	border: 0.1vw solid green;
	outline: none;
	border-radius: 0.3vw;
	font-size: 1.5vw;
}

.formInput button {
	background-color: lightgreen;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.formInput button:hover {
	background-color: rgb(61, 109, 61);
	cursor: pointer;
	color: aliceblue;
}

.resultContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 2vw;
	width: 60%;
	height: fit-content;
	box-shadow: 0.5vw 0.5vw 1vw 0.5vw rgba(168, 161, 161, 0.541);
}

#resultTitle {
	color: black;
	font-size: 3vw;
}

#resultAmount {
	font-size: 4vw;
	color: darkgreen;
	font-weight: 800;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section article {
	width: 90%;
	margin: 2vw 0;
	background-color: rgba(161, 255, 181, 0.178);
	padding: 2vw 4vw;
	border-radius: 1.5vw;
}

section article h3 {
	font-size: 2.5vw;
	margin: 0 0 1vw;
}

section article p {
	font-size: 2vw;
}

.examp ul {
	margin: 1vw 0 1vw 4vw;
}
.examp ul li {
	font-size: 1.8vw;
	margin: 0.5vw 0;
}

@media (max-width: 900px) {
	.resultContainer {
		width: 80%;
	}

	#resultTitle {
		font-size: 2vw;
	}

	#resultAmount {
		font-size: 3vw;
	}
}

@media (max-width: 768px) {
	#resultTitle {
		font-size: 1.5vw;
	}

	#resultAmount {
		font-size: 2vw;
	}
}

@media (max-width: 520px) {
	main header h1 {
		font-size: 6vw;
	}

	main header p {
		font-size: 3vw;
	}

	.container .heading h3 {
		font-size: 3vw;
	}

	.formInput input,
	.formInput button,
	.formInput select {
		width: 90%;
		padding: 3vw;
		font-size: 3vw;
	}

	.resultContainer {
		width: 90%;
		padding: 4vw;
	}

	#resultTitle {
		font-size: 3vw;
	}

	#resultAmount {
		font-size: 4vw;
	}

	section article h3 {
		font-size: 3vw;
	}

	section article p {
		font-size: 2.5vw;
	}

	.examp ul {
		margin-left: 5vw;
	}

	.examp ul li {
		font-size: 2vw;
	}
}
